# Dart
**/.dart_tool/
**/.packages
**/pubspec.lock
*.log

# Rust
**/target/

# Flutter
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Android
**/.gradle/
**/jniLibs/
**/local.properties
**/*.jks
**/*.keystore

# Python
**/.venv/
**/__pycache__/

# Pico firmware
*/pico-signer.elf
*/pico-signer.uf2

# IDE
.vscode/
.idea/
*.iml

# Data
e2e/hive_db
