[Unit]
Description=Enclave management server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=enclave-mgmt
EnvironmentFile=/etc/environment
ExecStart=/home/ec2-user/app/enclave-mgmt
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
