[Unit]
Description=gvproxy outbound networking for Nitro Enclave
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gvproxy
EnvironmentFile=/etc/environment
ExecStart=/home/ec2-user/app/gvproxy/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
